/* .profile-relative-wrapper {
    position: relative;
    width: 70%;
} */

.profile-button {
    font-size: 20px;
    color: gray;
    background: none;
    border: none;
    padding: 5px 15px;
    border-radius: 25px;
    cursor: pointer;
}

.profile-button:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

.profile-sign-up-link {
    font-size: 16px;
    color: black;
    background: none;
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}

.profile-sign-up-link:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

.profile-log-in-link {
    font-size: 16px;
    color: black;
    background: none;
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
}

.profile-log-in-link:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

.profile-demo-user-button {
    font-size: 16px;
    color: black;
    background: none;
    border: none;
    padding: 5px 10px;
    border-radius: 25px;
    text-decoration: none;
    font-family: unset;
    text-align: center;
}

.profile-demo-user-button:hover {
    background-color: rgba(211, 211, 211, 0.2);
}


.profile-buttons-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
}

.profile-hidden {
    display: none;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    background-color: white;
    
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
}

.profile-menu-wrapper>button {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
    color: gray;
    font-family: unset;
    margin-bottom: 10px;
    cursor: pointer;
    
}

.profile-menu-wrapper {
    z-index: 1;
    position: fixed;
    margin-top: 1em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px lightgray;
    width: fit-content;

}

.profile-menu-wrapper>button:hover {
    background-color: rgb(211, 211, 211, 20%);
}

.profile-menu-item {
    background: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
    color: gray;
}

.profile-menu-item:hover {
    background-color: rgb(211, 211, 211, 20%);
}

.profile-menu-header {
    background: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    text-decoration: none;
    color: gray;
}

.profile-add-link {
    width: 15%;
}



.profile-star {
    margin-left: -2px;
}

.profile-menu-item>span {
    margin-left: 4px;
}

.navbar-profile-sessionuser-wrapper {
    display: flex;
   width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
}

.profile-menu-userinfo {
    display: flex;
    flex-direction: column;
}

.profile-menu-navlinks {
    display: flex;
    flex-direction: column;
}

.fa-plus {
    margin-right: .75em;
}

.navbar-hosts.active {
    font-weight: 500;
    font-size: large;
}

.navbar-hounds.active {
    font-weight: 500;
    font-size: large;
}

.navbar-hosts:hover {
    background-color: rgba(211, 211, 211, 0.2);
}
.navbar-hounds:hover {
    background-color: rgba(211, 211, 211, 0.2);
}

.line {
    border-top: 1px #d9d9d9 solid;
  
    padding-top: 1rem;
    cursor: default;
  }